<ng-template #loading>
    <div class="col-12" style="text-align: center; padding: 2rem;">
        <span class="spinner spinner-inline">
            Loading...
        </span>
        <span>
            Loading...
        </span>
    </div>
</ng-template>

<div class="bg-img">
    <div class="container">
        <ng-container *ngIf="isLoaded; else loading">
            <div id="content_list" class="clr-row clr-justify-content-center" style="height: 100%;">
                <div class="card" style="height: 60vh; margin: auto;">
                    <div class="card-header">
                        <div class="clr-row" style="text-align: center;">
                            <div class="clr-col-4">
                                <span>
                                    Shops Details
                                </span>
                                <button *ngIf="!shop" type="button" routerLink="/shop-create" class="btn btn-success" style="float: right;">Add a shop</button>
                                <button *ngIf="hairdresser.isManager && !edition" (click)="this.edition=true;" type="button" class="btn btn-warning" style="float: right;">Edit</button>
                                <button *ngIf="edition" (click)="onSave()" type="button" class="btn btn-success" style="float: right;">Save</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="shop" class="row" id="cardContainer" style="height: 100%;">
                        <div class="col-sm-3 col-md-6 col-lg-12">
                            <div class="card" style="height: 100%; background: linear-gradient(rgb(239, 247, 250),#FFFFFF);">
                                <div class="card-header">
                                    <b>{{shop.name}}</b>
                                </div>
                                <div class="card-block" style="height: 100%;">
                                    <div>
                                        <div class="card-media-block row clr-align-items-start">
                                            <div class="card-media-description col-6" style="margin-bottom: 20px; margin-top: 10px;">

                                                <span class="card-media-text" style="margin: 1rem;">
                                                    <img src="../../../assets/img/barber-shop.svg" style="height: 1.5rem; width: 1.5rem;"/>
                                                    <div *ngIf="!edition;then contenu_bon1 else contenu_pas_bon1"></div>
                                                    <ng-template #contenu_bon1 style="margin-left: 5%;"> <label style="margin-left: 10px;">{{shop.name}}</label></ng-template>
                                                    <ng-template #contenu_pas_bon1><input [(ngModel)]="shop.name" placeholder="Name" style="margin-left: 10px;"/></ng-template>
                                                </span>
                                                <br>

                                                <span class="card-media-text" style="margin: 1rem;">
                                                    <img src="../../../assets/img/address.svg" style="height: 1.5rem; width: 1.5rem;"/>
                                                    <div *ngIf="!edition;then contenu_bon2 else contenu_pas_bon2"></div>
                                                    <ng-template #contenu_bon2 style="margin-left: 5%;"> <label style="margin-left: 10px;">{{shop.address}}</label></ng-template>
                                                    <ng-template #contenu_pas_bon2><input [(ngModel)]="shop.address" placeholder="Address" style="margin-left: 10px;"/></ng-template>
                                                </span>
                                                <br>

                                                <span class="card-media-text" style="margin: 1rem;">
                                                    <img src="../../../assets/img/town.svg" style="height: 1.5rem; width: 1.5rem;"/>
                                                    <div *ngIf="!edition;then contenu_bon3 else contenu_pas_bon3"></div>
                                                    <ng-template #contenu_bon3 style="margin-left: 5%;"> <label style="margin-left: 10px;">{{shop.city}}</label></ng-template>
                                                    <ng-template #contenu_pas_bon3><input [(ngModel)]="shop.city" placeholder="City" style="margin-left: 10px;"/></ng-template>
                                                </span>
                                                <br>

                                            </div>
                                            <div class="col" style="margin-top: 10px;">
                                                <div>
                                                    <b>Hairdressers :</b>
                                                    <!-- Trigger the modal with a button -->
                                                    <button *ngIf="edition" type="button" class="btnPlus" data-toggle="modal" data-target="#myModal">+</button>

                                                </div>
                                                <br>
                                                <div class="">
                                                    <div class="col-12" *ngFor='let hairdresser of hairdressers' style="display: inline;">
                                                        <input value="{{hairdresser.firstname}} {{hairdresser.lastname}}" type="button" data-toggle="modal" data-target="#myModal2" class="col-4 btnPeople" (click)="onHaird(hairdresser)" style="margin: 2%;">
                                                        
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card-text" style="margin-left: 1rem; margin-right: 1rem;">
                                            <b>Openning Hours :</b>
                                            <table class="table table-noborder">
                                                <thead>
                                                    <tr>
                                                        <ng-container *ngFor="let h of shop.openningHours">
                                                            <th>{{h.day}}</th>
                                                        </ng-container>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <ng-container *ngFor="let h of shop.openningHours">
                                                            <div *ngIf="!edition;then contenu_bon4 else contenu_pas_bon4"></div>
                                                            <ng-template #contenu_bon4>
                                                                <td>
                                                                    {{h.hours[0].opening}}
                                                                    <br>{{h.hours[0].ending}}
                                                                </td>
                                                            </ng-template>
                                                            <ng-template #contenu_pas_bon4>
                                                                <td>
                                                                    <input [(ngModel)]="h.hours[0].opening" style="width: 80px; text-align: center;" placeholder="Opening" />
                                                                    <br>
                                                                    <input [(ngModel)]="h.hours[0].ending" style="width: 80px; text-align: center;" placeholder="Ending" />
                                                                    <!-- {{h.hours[0].opening}}<br>{{h.hours[0].ending}} -->
                                                                </td>
                                                            </ng-template>

                                                            <!-- 
                                                            <td>                                           
                                                                {{h.hours[0].opening}}<br>{{h.hours[0].ending}}
                                                            </td> -->
                                                        </ng-container>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer clr-row clr-justify-content-center clr-align-self-center">
                                    <!-- <button class="btn btn-info-outline">
                                        <img src="../../../assets/scissors.svg" style="height: 1.5rem; width: 1.5rem;"/>
                                        Book a Haircut
                                        <img src="../../../assets/scissors.svg" style="height: 1.5rem; width: 1.5rem;"/>
                                    </button> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="margin-left: auto;">Modal Header</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Skill</th>
                        </tr>
                    </thead>
                    <tbody id="test">
                        <tr *ngFor="let hairdresser of hairdressers_list">

                            <td>{{ hairdresser.id }}</td>
                            <td> {{ hairdresser.firstname }} {{ hairdresser.lastname }}</td>
                            <td> {{ hairdresser.phoneNumber }}</td>
                            <td>
                                <button class="btn btn-primary" (click)="selectHaird(hairdresser)"> Select</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button id="closeModalButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<ng-container *ngIf="isLoaded; else loading">
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal2">Open modal</button>
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="margin-left: auto;">{{ selectedHaird.firstname }} {{ selectedHaird.lastname}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <p>Manage your teams by looking at their schedules or by adding / modifying members</p>
            </div>
            <div class="modal-footer">
                <!-- <button id="closeModalButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-danger" >Delete</button>
                <button type="button" class="btn btn-primary" (click)="test()" >Show Schedule</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
</ng-container>