<div class="bg-img">
    <div class="container">

        <input class="form-control" id="demo" type="text" placeholder="Seach here for find the prestation you need">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Hairdresser</th>
                    <th>Libelle</th>
                    <th>Price</th>
                    <th>Duration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="test">
                <tr *ngFor="let prestation of prestations">

                    <td>{{ prestation.id }}</td>
                    <td>{{ prestation.idHairdresser }}</td>
                    <td> {{ prestation.libelle }}</td>
                    <td> {{ prestation.price }}</td>
                    <td> {{ prestation.duration }}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deletePrestation(prestation)"> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- <button class="btn btn-success" routerLink="/prestation-create">Add a prestation</button> -->

    </div>
</div>