body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  
    margin:0px;
}

* {
    box-sizing: border-box;
}

.bg-img {
    background-image: url("../../../../assets/img/salon_coiffeur.jpg");

    min-height: 600px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 4%;
}

.container {
  position: center;
  z-index: 1;
  background: #FFFFFF;
  max-width: 65%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


.btn {
    margin-left: 10px;
}
