<ng-template #loading>
    <div class="col-12" style="text-align: center; padding: 2rem;">
        <span class="spinner spinner-inline">
            Loading...
        </span>
        <span>
            Loading...
        </span>
    </div>
</ng-template>

<div class="bg-img">
    <div class="container">
        <!-- <ng-container *ngIf="isLoaded; else loading"> -->

        <div id="content_list" class="clr-row clr-justify-content-center" style="height: 100%;">

            <div class="card" style="height: 60vh; margin: auto;">

                <div class="card-header">
                    <div class="clr-row" style="text-align: center;">
                        <div class="clr-col-4">

                            <span>
                                    Prestations
                                </span>

                            <button type="button" *ngIf="!createMode" (click)="switchMode()" class="btn btn-success" style="float: right;">Create prestation</button>
                        </div>
                    </div>
                </div>
                <div class="row" id="cardContainer" style="height: 100%;">
                    <div class="col-sm-3 col-md-6 col-lg-12">
                        <div class="card" style="height: 100%; background: linear-gradient(rgb(239, 247, 250),#FFFFFF);">
                            <!-- <div class="card-header">
                                    <b>{{shop.name}}</b>
                                </div> -->

                            <div class="card-block" style="height: 100%;">

                                <div class="card-media-block row clr-align-items-start">
                                    <div class="card-media-description col-6" style="margin-bottom: 20px; margin: 10px;">

                                        <input class="form-control" id="demo" type="text" placeholder="Search here for find one of your prestation">

                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">Libelle</th>
                                                    <th style="text-align: center;">Price</th>
                                                    <th style="text-align: center;">Duration</th>
                                                    <th style="text-align: center;">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="test">
                                                <tr *ngFor="let presta of prestations">

                                                    <td style="text-align: center;"> {{ presta.libelle }}</td>
                                                    <td style="text-align: center;"> {{ presta.price }}</td>
                                                    <td style="text-align: center;"> {{ presta.duration }}</td>
                                                    <td style="text-align: center;">
                                                        <button class="btn btn-primary" (click)="showDetail(presta)"> Details</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                    <div [formGroup]="prestaForm">

                                        <div *ngIf="createMode" class="col" style="margin: 10px;">
                                            <b>Create a prestation</b><br>

                                            <input formControlName="libelle" class="form-control input-lg" placeholder="Libelle" />
                                            <input formControlName="price" class="form-control input-lg" placeholder="Price" />
                                            <input formControlName="duration" class="form-control input-lg" placeholder="Duration" />
                                            <button type="button" (click)="savePrestation()" class="btn btn-success" style="float: right; margin: 10px;">Save my prestation</button>
                                        </div>

                                    </div>

                                    <div *ngIf="viewMode" class="col" style="margin: 10px;">
                                        <b>Details of a prestation</b><br>

                                        <input [(ngModel)]="prestation.libelle" class="form-control input-lg" placeholder="Libelle" [disabled]="!editMode" />
                                        <input [(ngModel)]="prestation.price" class="form-control input-lg" placeholder="Price" [disabled]="!editMode" />
                                        <input [(ngModel)]="prestation.duration" class="form-control input-lg" placeholder="Duration" [disabled]="!editMode" />

                                        <button type="button" *ngIf="!editMode" (click)="deletePrestation(prestation)" class="btn btn-danger" style="float: right; margin: 10px;">Delete</button>
                                        <button type="button" *ngIf="!editMode" (click)="onEdit()" class="btn btn-warning" style="float: right; margin: 10px;">Edit</button>
                                        <button type="button" *ngIf="editMode" (click)="saveModification()" class="btn btn-success" style="float: right; margin: 10px;">Save</button>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer clr-row clr-justify-content-center clr-align-self-center">
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </ng-container> -->
    </div>
</div>