<div class="bg-img">
    <div class="container">

        <div>
            <form role="form" [formGroup]="myForm">
                <h1>Create a hairdresser</h1>
                <hr class="colorgraph">
               
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" formControlName="firstname" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" formControlName="lastname" required>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <input [class.is-invalid] = "myForm.get('email').invalid && myForm.get('email').touched"
                    type="email" class="form-control input-lg" placeholder="Email Address" formControlName="email" />

                    <div *ngIf="(email.invalid && email.touched) || email.dirty">
                        <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
        
                        <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email address</small>
                    </div>
                </div>



                <div class="form-group">
                    <input type="text" name="phoneNumber" id="phoneNumber" class="form-control input-lg" placeholder="Phone Number" tabindex="3" formControlName="phoneNumber" mask="00 00 00 00 00" minlength="10" required> 
                    
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" formControlName="password" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input [class.is-invalid] = "myForm.controls['pwd_verif'].hasError('NoPassswordMatch') && myForm.get('pwd_verif').touched"
                            type="password" class="form-control" placeholder="Password confirmation" tabindex="6" formControlName="pwd_verif" required />
                            <label class="text-danger" *ngIf="myForm.controls['pwd_verif'].hasError('NoPassswordMatch')">
                            Password do not match
                            </label>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group">
                 
                    <div formArrayName="specialities">
                        <div *ngFor="let skill of myForm.controls.specialities.controls; let i=index" class="row">
          
                            <span class="column1">Skill {{i + 1}}</span>
            
                            <div class="column2" [formGroupName]="i">
                                <input type="text" class="form-control" formControlName="item">
                            </div>

                            <div class="column3">
                                <button type="submit" class="btn btn-danger" *ngIf="myForm.controls.specialities.controls.length > 1" (click)="removeSkill(i)"></button>
                            </div>
                        </div>
                      </div>
            
                      <button type="button" class="btn btn-primary btnCustom" (click)="addSkill()">Add another skill +</button>

                </div> -->

                  <div class="form-row align-items-center">

                    <div formArrayName="specialities">
                        <div *ngFor="let skill of myForm.controls.specialities.controls; let i=index" class="row">
          
                            <!-- <span class="column1">Skill {{i + 1}}</span> -->
                            <div class="col-auto" [formGroupName]="i">
                                <div class="input-group mb-2">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">Skill {{i + 1}}</div>
                                  </div>
                                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Your specialities" formControlName="item">
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-danger" *ngIf="myForm.controls.specialities.controls.length > 1" (click)="removeSkill(i)">-</button>
                              </div>
                              <div class="col-auto" [formGroupName]="i">
                                  <button type="button" class="btn btn-primary" *ngIf="myForm.controls.specialities.controls.length == i+1" (click)="addSkill()">+</button>
                              </div>

                        </div>
                    </div>
                </div>
                
                <hr class="colorgraph">
                
                <button type="button" class="btn btn-success btn-block btn-lg" [disabled]="!myForm.valid" (click)="createHair()">Create a hairdresser</button>
    
            </form>

        </div>
    </div>
</div> 



