<div class="bg-img">
    <div class="container" >
      
        <input class = "form-control" id = "demo" type = "text" placeholder = "Seach here for find the hairdresser you need">
    
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Skill</th>
              </tr>
          </thead>
          <tbody id ="test">
              <tr *ngFor="let hairdresser of hairds">
    
                  <td>{{ hairdresser.id }}</td>
                  <td> {{ hairdresser.firstname }} {{ hairdresser.lastname }}</td>
                  <td> {{ hairdresser.phoneNumber }}</td>
                  <td>
                      <button class="btn btn-primary" [routerLink]="['/hairdresser-details', hairdresser.id]"> Details</button>
                      <button class="btn btn-danger" (click)="deleteHaird(hairdresser)"> Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>
    
      <button class="btn btn-success"  routerLink="/hairdresser-create" >Add a hairdresser</button>
    
    </div>
    </div>
    