<!-- tuto :: https://o7planning.org/fr/11967/tutoriel-bootstrap-navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- NOM DU SITE -->
    <a class="navbar-brand" *ngIf="!connected" href="#">IntHairNet</a>
    <a class="navbar-brand" *ngIf="connected && modeAdmin" routerLink="/home-admin">IntHairNet</a>
    <a class="navbar-brand" *ngIf="connected && !modeAdmin" routerLink="/home-user">IntHairNet</a>

<!-- MENU OF ADMIN -->
    <div *ngIf="connected && modeAdmin">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/shop-list">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/hairdresser-list">Hairdresser</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/prestation-list">Prestation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/booking-list">Booking</a>
            </li>
        </ul>
    </div>

<!-- MENU OF HAIRDRESSER -->
    <div *ngIf="connected && !modeAdmin">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/shop-manage">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/prestation-manage">Prestation</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" routerLink="/booking-manage">Schedule</a>
            </li>
        </ul>
    </div>

<!-- Right -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!connected">
            <a class="nav-link" routerLink="/hairdresser-create">Register</a>
        </li>
        <li class="nav-item" *ngIf="!connected">
            <a class="nav-link" routerLink="/user-signin">Login</a>
        </li>
        <li class="nav-item" *ngIf="connected && !modeAdmin">
            <a class="nav-link" routerLink="/hairdresser-manage">My Account</a>
        </li>
        <li class="nav-item" *ngIf="connected">
            <a class="nav-link" (click)="logout()">Logout</a>
        </li>
    </ul>

</nav>