<div class="bg-img">
    <div class="container">

        <div>
            <form role="form" [formGroup]="registerForm">
                <h2>Please Sign Up</h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" required formControlName="firstname">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" formControlName="lastname">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Display Name" tabindex="3" formControlName="displayname">
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" formControlName="email">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" formControlName="passwd">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6" formControlName="passwd_verif">
                        </div>
                    </div>
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <!-- <input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"> -->
                        <button type="button" class="btn btn-success btn-block btn-lg" (click)="register()">Register</button>
                    </div>
                    <div class="col-xs-12 col-md-6"><a routerLink="/user-signin" class="btn btn-primary btn-block btn-lg">Sign In</a></div>
                </div>
            </form>

        </div>
    </div>
</div>