
<div class="bg-img">
    <div class="container">
        <!-- <input class="form-control" id="demo" type="text" placeholder="Search here for find one of your prestation"> -->

        <jqxScheduler #schedulerReference
        [date]="date" [width]="800" [height]="600" [source]="dataAdapter" [showLegend]="true" [view]="'weekView'"
        [appointmentDataFields]="appointmentDataFields" 
        [resources]="resources" [views]="views">
        </jqxScheduler>

    </div>
</div>