<ng-template #loading>
    <div class="col-12" style="text-align: center; padding: 2rem;">
        <span class="spinner spinner-inline">
            Loading...
        </span>
        <span>
            Loading...
        </span>
    </div>
</ng-template>

<div class="bg-img">
    <div class="container">
        <ng-container *ngIf="isLoaded; else loading">
            <div id="content_list" class="clr-row clr-justify-content-center" style="height: 100%;">
                <div class="card" style="height: 60vh; margin: auto;">
                    <div class="card-header">
                        <div class="clr-row" style="text-align: center;">
                            <div class="clr-col-4">
                                <span>
                                    Shops Details
                                </span>
                               
                            </div>
                        </div>  
                    </div>
                    <div *ngIf="shop" class="row" id="cardContainer" style="height: 100%;">
                        <div class="col-sm-3 col-md-6 col-lg-12" >
                            <div class="card" style="height: 100%; background: linear-gradient(rgb(239, 247, 250),#FFFFFF);">
                                <div class="card-header">
                                    <b>{{shop.name}}</b>
                                </div>
                                <div class="card-block" style="height: 100%;">
                                    <div>
                                        <div class="card-media-block row clr-align-items-start">
                                            <div class="card-media-description col-6" style="margin-bottom: 20px; margin-top: 10px;">
                                                <span class="card-media-text" style="margin: 1rem;">
                                                    <img src="../../../assets/img/barber-shop.svg" style="height: 1.5rem; width: 1.5rem;"/> {{shop.name}}
                                                </span>
                                                <br style="margin-bottom: 30px;">
                                                <span class="card-media-text" style="margin: 1rem;">
                                                    <img src="../../../assets/img/address.svg" style="height: 1.5rem; width: 1.5rem;"/>   {{shop.address}}
                                                </span>
                                                <br>
                                                <span class="card-media-text" style="margin: 1rem;">
                                                    <img src="../../../assets/img/town.svg" style="height: 1.5rem; width: 1.5rem;"/>   {{shop.city}}
                                                </span>
                                                <br>
                                            </div>
                                            <div class="col" style="margin-top: 10px;">
                                                <b>Hairdressers :</b><br>
                                                <div class="">
                                                    <div class="col-12" *ngFor ='let hairdresser of hairdressers' style="display: inline;">
                                                        <a class="col-4 label label-blue clickable" style="height: 5vh; width: 5vw;margin: 2%;" (click)="showHairdresserDetails(hairdresser.id)">
                                                            {{hairdresser.firstname}} {{hairdresser.lastname}}
                                                        </a>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="card-text"  style="margin-left: 1rem; margin-right: 1rem;">
                                        <b>Openning Hours :</b>
                                            <table class="table table-noborder" >
                                                <thead >
                                                    <tr>
                                                        <ng-container *ngFor="let h of shop.openningHours">
                                                            <th>{{h.day}}</th>
                                                        </ng-container>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <ng-container *ngFor="let h of shop.openningHours">
                                                            <td>                                           
                                                                {{h.hours[0].opening}}<br>{{h.hours[0].ending}}
                                                            </td>
                                                        </ng-container>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>           
                                </div>
                                <div class="card-footer clr-row clr-justify-content-center clr-align-self-center">
                                    <!-- <button class="btn btn-info-outline">
                                        <img src="../../../assets/scissors.svg" style="height: 1.5rem; width: 1.5rem;"/>
                                        Book a Haircut
                                        <img src="../../../assets/scissors.svg" style="height: 1.5rem; width: 1.5rem;"/>
                                    </button> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>