body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;

  margin:0px;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("../../../../assets/img/salon_coiffeur.jpg");

  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 4%;
}

/* Add styles to the form container */
.container {
position: center;
z-index: 1;
max-width: 75%;
margin: 0 auto 100px;
padding: 45px;
//   text-align: center;
overflow-y: auto;
}

.test{
  border: blue($color: #000000);
}
.test:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}