<div class="bg-img">
    <div class="container">

        <div>
            <div *ngIf="hairdresser" >
                <div>
                    <h1>Hairdresser {{hairdresser.firstname}}</h1>
                    <button *ngIf="hairdresser && !edition" (click)="this.edition=true;" type="button" class="btn btn-warning">Edit</button>
                    <button *ngIf="edition" (click)="onSave()" type="button" class="btn btn-success">Save</button>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            
                            <div *ngIf="!edition;then contenu_bon1 else contenu_pas_bon1"></div>
                            <ng-template #contenu_bon1><input [(ngModel)]="hairdresser.firstname" class="form-control input-lg" [disabled]="true" placeholder="Name"/></ng-template>
                            <ng-template #contenu_pas_bon1><input [(ngModel)]="hairdresser.firstname" class="form-control input-lg"  placeholder="Name"/></ng-template>
                        
                            <!-- <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1"  [disabled]="true" value="{{haird.firstname}}"> -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">

                            <div *ngIf="!edition;then contenu_bon2 else contenu_pas_bon2"></div>
                            <ng-template #contenu_bon2> <input [(ngModel)]="hairdresser.lastname" class="form-control input-lg" [disabled]="true" placeholder="Lastname"/></ng-template>
                            <ng-template #contenu_pas_bon2><input [(ngModel)]="hairdresser.lastname" class="form-control input-lg"  placeholder="Lastname"/></ng-template>
                            <!-- <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" [disabled]="true" value="{{haird.lastname}}"> -->
                        </div>
                    </div>
                </div>
      
                <div class="form-group">

                    <div *ngIf="!edition;then contenu_bon3 else contenu_pas_bon3"></div>
                    <ng-template #contenu_bon3><input [(ngModel)]="hairdresser.email" class="form-control input-lg" [disabled]="true" placeholder="Email"/></ng-template>
                    <ng-template #contenu_pas_bon3><input [(ngModel)]="hairdresser.email" class="form-control input-lg" placeholder="Email"/></ng-template>

                    <!-- <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" [disabled]="true" value="{{haird.email}}"> -->
                </div>


                <div class="form-group">

                    <div *ngIf="!edition;then contenu_bon4 else contenu_pas_bon4"></div>
                    <ng-template #contenu_bon4><input [(ngModel)]="hairdresser.phoneNumber" class="form-control input-lg" [disabled]="true" placeholder="Phone Number"/></ng-template>
                    <ng-template #contenu_pas_bon4><input [(ngModel)]="hairdresser.phoneNumber" class="form-control input-lg" tabindex="3" placeholder="Phone Number"/></ng-template>

                    <!-- <input type="text" name="phoneNumber" id="phoneNumber" class="form-control input-lg" placeholder="Phone Number" tabindex="3" [disabled]="true" value="{{haird.phoneNumber}}"> -->
                </div>

                
                <p class="customSpan">Specialities : </p>
                <ul style="list-style-type:circle;">         
                    <div *ngFor="let skills of hairdresser.specialities | keyvalue">
                        <li class="customSpan"> {{skills.value.item}}</li>
                    </div>
                </ul>


                <hr class="colorgraph">
                
                <button type="button" class="btn btn-danger" routerLink="/home-user">Go Home</button>
    
            </div>

        </div>
    </div>
</div>
