<div class="bg-img">
<div class="container" >
  
    <input class = "form-control" id = "demo" type = "text" placeholder = "Seach here for find the store you need">

  <table class="table table-hover">
      <thead>
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>City</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody id ="test">
          <tr *ngFor="let shop of shops">

              <td>{{ shop.id }}</td>
              <td> {{ shop.name }}</td>
              <td> {{ shop.city }}</td>
              <td>
                  <button class="btn btn-primary" [routerLink]="['/shop-details', shop.id]"> Details</button>
                  <button class="btn btn-danger" (click)="deleteShop(shop)"> Delete</button>
              </td>
          </tr>
      </tbody>
  </table>

  <button class="btn btn-success"  routerLink="/shop-create" >Add a shop</button>


</div>
</div>
