<div class="bg-img">
    <div class="container">

        <div>
            <form role="form">
                <h1>Hairdresser</h1>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1"  [disabled]="true" value="{{haird.firstname}}">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" [disabled]="true" value="{{haird.lastname}}">
                        </div>
                    </div>
                </div>
      
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" [disabled]="true" value="{{haird.email}}">
                </div>


                <div class="form-group">
                    <input type="text" name="phoneNumber" id="phoneNumber" class="form-control input-lg" placeholder="Phone Number" tabindex="3" [disabled]="true" value="{{haird.phoneNumber}}">
                </div>

                <p class="customSpan">Specialities : </p>
                <ul style="list-style-type:circle;">         
                    <div *ngFor="let skills of haird.specialities | keyvalue">
                        <!-- <i class="fas fa-cloud"> {{skills.value.item}} </i> -->
                        <li class="customSpan"> {{skills.value.item}}</li>
                    </div>
                </ul>


                <hr class="colorgraph">
                
                <button type="button" class="btn btn-danger" (click)="back()">Go Home</button>
    
            </form>

        </div>
    </div>
</div>


<!-- <p>hairdresser-details works!</p>

<div *ngFor="let skills of haird.specialities | keyvalue">
    <span> {{skills.key}} : {{skills.value.item}}</span>

</div> -->
