<div class="bg-img">
    <div class="container">
        <form [formGroup]="shopForm">
            <div id="content_list" class="clr-row clr-justify-content-center" style="height: 100%;">
                <div class="card" style="height: 60vh; margin: auto;">
                    <div class="card-header">
                        <div class="clr-row" style="text-align: center;">
                            <div class="clr-col-4">
                                <span>
                                    Create your shop !
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="cardContainer" style="height: 100%;">
                        <div class="col-sm-3 col-md-6 col-lg-12">
                            <div class="card" style="height: 100%; background: linear-gradient(rgb(239, 247, 250),#FFFFFF);">
                                <div class="card-header">
                                    <b>TOFINISH => HAIRDRESSERS ADD / REMOVE</b>
                                </div>
                                <div class="card-block" style="height: 100%;">
                                    <div>
                                        <div class="card-media-block row clr-align-items-start">
                                            <div class="card-media-description col-6" style="margin-bottom: 20px; margin-top: 10px;">
                                                <span class="card-media-text" style="margin: 1rem;">
                                                    <img src="../../../assets/img/barber-shop.svg" style="height: 1.5rem; width: 1.5rem;"/>
                                                    <input formControlName="name" placeholder="Name" style="margin-left: 10px;" required/>
                                                </span>
                                                <br style="margin-bottom: 30px;">
                                                <span class="card-media-text" style="margin: 1rem;">
                                                    <img src="../../../assets/img/address.svg" style="height: 1.5rem; width: 1.5rem;"/>
                                                    <input formControlName="address" placeholder="Address" style="margin-left: 10px;" required/>
                                                </span>
                                                <br>
                                                <span class="card-media-text" style="margin: 1rem;">
                                                    <img src="../../../assets/img/town.svg" style="height: 1.5rem; width: 1.5rem;"/>
                                                    <input formControlName="city" placeholder="City" style="margin-left: 10px;" required/>
                                                </span>
                                                <br>
                                            </div>
                                            <div class="col" style="margin-top: 10px;">
                                                <div formArrayName="hairdressers">
                                                    <div>
                                                    <b>Hairdressers :</b>                                                
                                                    <!-- Trigger the modal with a button --> 
                                                    <button type="button" class="btnPlus" data-toggle="modal" data-target="#myModal">+</button>
                                                    </div>
                                                    <br>
                                                    <!-- Modal -->
                                                    <div id="myModal" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">

                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" style="margin-left: auto;">Modal Header</h4>
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                            
                                                                    <table class="table table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>#</th>
                                                                                <th>Name</th>
                                                                                <th>Phone</th>
                                                                                <th>Skill</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id ="test">
                                                                            <tr *ngFor="let hairdresser of hairdressers_list">
                                                                  
                                                                                <td>{{ hairdresser.id }}</td>
                                                                                <td> {{ hairdresser.firstname }} {{ hairdresser.lastname }}</td>
                                                                                <td> {{ hairdresser.phoneNumber }}</td>
                                                                                <td>
                                                                                    <button class="btn btn-primary" (click)="selectHaird(hairdresser)"> Select</button>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button id="closeModalButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <!-- <ng-container *ngFor="let team of shopForm.get('hairdressers').controls; let i = index" [formGroupName]="i">
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <input formControlName="firstname" type="button">
                                                            </div>
                                                        </div>
                                                    </ng-container> -->

                                                    <div>
                                                        <div class="col-12" *ngFor="let team of shopForm.get('hairdressers').controls; let i = index" [formGroupName]="i" style="display: inline;">
                                                            <input formControlName="firstname" type="button" (click)="onHaird(team)" class="col-4 btnPeople" style="margin: 2%;">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text" style="margin-left: 1rem; margin-right: 1rem;">
                                            <b>Openning Hours :</b>

                                            <div formArrayName="openningHours">

                                                <table class="table table-noborder">

                                                    <thead>
                                                        <tr>

                                                            <!-- <ng-container *ngFor="let h of shop.openningHours"> -->
                                                            <ng-container *ngFor="let team of shopForm.get('openningHours').controls; let teamIndex = index" [formGroupName]="teamIndex">
                                                                <th>
                                                                    <input formControlName="day" style="width: 80px; text-align: center;" required>
                                                                </th>
                                                            </ng-container>

                                                            <!-- </ng-container> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <ng-container *ngFor="let team of shopForm.get('openningHours').controls; let teamIndex = index" [formGroupName]="teamIndex">
                                                                <ng-container formArrayName="hours">
                                                                    <ng-container *ngFor="let player of team.get('hours').controls; let playerIndex=index" [formGroupName]="playerIndex">
                                                                        <td>
                                                                            <input formControlName="opening" style="width: 80px; text-align: center;" mask="00:00" minlength="4" required>
                                                                            <br>
                                                                            <input formControlName="ending" style="width: 80px; text-align: center;" mask="00:00" minlength="4" required>
                                                                        </td>
                                                                    </ng-container>
                                                                </ng-container>
                                                                <!-- <ng-container *ngFor="let h of shop.openningHours">
                                                                <td>                                           
                                                                    {{h.hours[0].opening}}<br>{{h.hours[0].ending}}
                                                                </td>
                                                            </ng-container> -->
                                                            </ng-container>
                                                        </tr>
                                                    </tbody>

                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <!-- <button class="btn btn-success" (click)="createShop()">Create shop</button> -->
                                    <div class="row" style="text-align: center;">
                                        <div class="col-12">
                                            <button class="btn btn-success" style="text-align: center;" [disabled]="!shopForm.valid" (click)="createShop()">Create shop</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>