body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;

  margin:0px;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("../../../../assets/img/salon_coiffeur.jpg");

  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 4%;
}

/* Add styles to the form container */
.container {
position: center;
z-index: 1;
max-width: 75%;
margin: 0 auto 100px;
padding: 45px;
//   text-align: center;
overflow-y: auto;
}

.test{
  border: blue($color: #000000);
}
.test:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnPlus {
  color: white;
  background: #28B463 ;
  width: 30px;
  height: 20px;
  margin-left: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 1px 2px #5e5d5b;
  text-align: center;
  line-height: 0px;
}

.btnPeople {
  color: white;
  background: #008B8B;
  width: 130px;
  height: 25px;
  margin-left: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 1px 2px #5e5d5b;
  text-align: center;
  line-height: 0px;
}