<!-- <p>home-user works!</p> -->
<ng-template #loading>
    <div class="col-12" style="text-align: center; padding: 2rem;">
        <span class="spinner spinner-inline">
            Loading...
        </span>
        <span>
            Loading...
        </span>
    </div>
</ng-template>

<div class="bg-img">
    <div class="container">
<ng-container *ngIf="isLoaded; else loading">
    <div class="row" style="height: 100%;">
        <div class="col-sm-4" *ngFor="let category of categories; let i = index">
            <div class="card clickable text-center" [routerLink]="category.destination">
                <div style="margin: 5%;">
                    <img src="{{category.img}}" class="card-img-top" style="height: 7rem; width: 7rem;" alt="...">
                    <div class="card-block" style="margin: 2%;">
                        <span class="card-title" style="font-size: 150%;">{{category.label}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

</div>
</div>