<div class="bg-img">
    <div class="container">

        <input class="form-control" id="demo" type="text" placeholder="Seach here for find the booking you need">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="test">
                <tr *ngFor="let booking of bookings">

                    <td>{{ booking.idPrestation }}</td>
                    <td>{{ booking.idClient }}</td>
                    <td> {{ booking.date_booking | date:'short'}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deletebooking(booking)"> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- <button class="btn btn-success" routerLink="/booking-create">Add a booking</button> -->

    </div>
</div>